<div *ngIf='product' class="container-fluid p-3 product-detail-box">
  <div class="row">
    <div class="col-md-5">
      <app-carousel [images]='product.images'></app-carousel>
    </div>
    <div class="col-md-7 d-flex justify-content-end">
      <div class="col-md-8">
        <div class="product-detail-description-box">
          <h3>{{product.price}} $</h3>
          <div>
            <b>Model:</b> {{product.model | titlecase}}</div>
          <div>
            <b>Brand:</b> {{product.brand.name | titlecase}}</div>
          <div>
            <b>Color:</b> {{product.color | titlecase}}</div>
          <article>
            <b>Description:</b> {{product.description}}</article>
        </div>
        <button [disabled]='!isLogged' class="btn btn-success btn-block my-2" (click)='addToCart()'>Add to Cart</button>
        <div class="d-flex justify-content-end">
          <button *ngIf='isAdmin' class="btn btn-danger m-2" (click)='deleteProduct()'>Delete</button>
          <a *ngIf='isAdmin' class="btn btn-warning m-2" routerLink='/admin/editProduct/{{product._id}}'>Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>