<div *ngIf="brand" appZoom scaleIn='1.01' class="container-fluid p-0 m-2 border rounded element-link">
  <a routerLink='/products' [queryParams]="{brand: brand.name}">
    <h4 class="card-header">{{brand.name | titlecase}}</h4>
    <div class="row m-auto">
      <div class="brand-card-img-container col-md-3">
        <app-img-with-spinner 
          spinnerWidth="30px"
          spinnerHeight="30px"
          src="{{brand.image.url}}"
        ></app-img-with-spinner>
      </div>
      <div class="col-md-9 border-left">{{brand.description}}</div>
    </div>
  </a>
  <div *ngIf="isAdmin" class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger m-1" (click)="deleteBrand()">Delete</button>
    <a routerLink="/admin/brands/edit/{{brand.id}}" class="btn btn-warning m-1">Edit</a>
  </div>
</div>