<div *ngIf='form' class="container-fluid col-md-4">
  <form [formGroup]='form' (ngSubmit)='onSubmit()'>

    <div class="form-group">
      <label>Username</label>
      <input class="form-control" type="text" formControlName='username' placeholder="Enter username...">
      <div class="alert-danger p-1 mt-1 rounded" *ngIf='username.invalid && username.touched'>
        <small *ngIf='username.errors.required'>
          Username is required!
        </small>
        <small *ngIf='username.errors.pattern'>
          Username must be between 3 and 20 symbols long, start with latin letter and contain only digits and latin letters.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="text" formControlName='email' placeholder="Enter email...">
      <div class="alert-danger p-1 mt-1 rounded" *ngIf='username.invalid && username.touched'>
        <small *ngIf='username.errors.required'>
          Username is required!
        </small>
        <small *ngIf='username.errors.pattern'>
          Username must be between 3 and 20 symbols long, start with latin letter and contain only digits and latin letters.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" formControlName='password' placeholder="Enter password...">
      <div *ngIf='password.invalid && password.touched' class="alert-danger p-1 mt-1 rounded">
        <small *ngIf='password.errors.required'>
          Password is required!
        </small>
        <small *ngIf='password.errors.pattern'>
          The password must be between 6 and 20 symbols long, contain uppercase, lowercase and digit.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input class="form-control" type="password" formControlName='confirmedPassword' placeholder="Confirm password...">
      <div *ngIf='confirmedPassword.errors?.nomatch && confirmedPassword.dirty' class="alert-danger p-1 mt-1 rounded">
        <small>
          {{confirmedPassword.errors.nomatch}}
        </small>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" [disabled]='form.invalid' class="btn btn-success">
        Register
      </button>
    </div>
    
  </form>
</div>