<div id="cube-container" >
  <div class="cube">
    <div class="top"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
    <div class="front"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
    <div class="bottom"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
    <div class="back"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
    <div class="left"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
    <div class="right"><app-img-with-spinner [src]="'src/assets/wall.jpg'"></app-img-with-spinner></div>
  </div>
  <!-- <div *ngFor="let title of titles; index as i" [@cube]="klass[i]">
    <app-img-with-spinner [src]=""></app-img-with-spinner>
  </div>
  <button (click)="up()">up</button>
  <button (click)="down()">down</button> -->
</div>
