<div *ngIf="product" class="row m-0 justify-content-between">
  <div class="col-md-5">
    <app-carousel [images]='product.images'></app-carousel>
  </div>
  <div class="col-md-5">
      <div>
        <h3>{{product.price}} $</h3>
        <div><b>Model: </b> <span>{{product.model | titlecase}}</span></div>
        <div><b>Brand: </b> <span>{{product.brand.name | titlecase}}</span></div>
        <div><b>Color: </b> <span>{{product.color | titlecase}}</span></div>
        <article><b>Description: </b> {{product.description}}</article>
      </div>

      <app-multiselect-dropdown
        [data]="sizeDropdownList"
        [settings]="sizeDropdownSettings"
        (update)="onSizeSelect($event)">
      </app-multiselect-dropdown>

      <form [formGroup]='form'>
        <div class="form-group">
          <input type="number" formControlName="quantity" class="form-control"> 
        </div>
      </form>

      <button type="submit" [disabled]='!isLogged' class="btn btn-success btn-block my-2" (click)="addToCart()">Add to Cart</button>
      
      <div class="row justify-content-end">
        <button *ngIf='isAdmin' class="btn btn-danger m-2" (click)='deleteProduct()'>Delete</button>
        <a *ngIf='isAdmin' class="btn btn-warning m-2" routerLink='/admin/edit-product/{{product.id}}'>Edit</a>
      </div>
    
  </div>
</div>