.main-bg {
  background-image: url(/assets/Nike_Jordan_Basketball_Experience_Beijing_43_hd_1600.jpg);
  min-height: 100vh;
  padding: 50px;
}

.default-bg {
 background-color: white;
 border-radius: 5px;
 padding: 5px;
}

.mobile-search {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  background-color: brown;
  width: 100%;
  padding: 1em;
  overflow: auto;
}