<div class="dropdown">
  <div class="dropdown-line" >
    <div *ngIf="selectedItems.length === 0" class="dropdown-placeholder" (click)="onOpen()">
      <span>{{settings.placeholder}}</span>
    </div>
  
    <div *ngIf="selectedItems.length > 0" class="selected-items-container">
      <div class="selected-item-box" *ngFor="let item of selectedItemsToShow">
        <span>{{item}}</span>
        <i (click)="removeItem(item)">x</i>
      </div>
      <div *ngIf="selectedItems.length > settings.itemsShowLimit" class="selected-item-box">
        +{{selectedItems.length - settings.itemsShowLimit}}
      </div>
    </div>
  
    <div class="dropdown-btn" (click)="onOpen()">
      <div class="triangle-down m-auto"></div>
    </div>
  </div>
  
  <div *ngIf="isDropdownOpen" class="container-fluid border m-auto p-1" (app-click-outside)="onClickOutside($event)">
    <div id="spinner-container" *ngIf="!dropdownList.length">
      <app-spinner [height]="'50px'" [width]="'50px'"></app-spinner>
    </div>
    <div *ngIf="dropdownList.length">
      <div *ngIf="!settings.allowSingleSelection" class="form-check">
        <input 
          class="form-check-input"
          type="checkbox" 
          id="select-all-items" 
          [checked]="areAllItemsSelected"
          (click)="onSelectAllItems($event)" 
        >
        <label class="form-check-label" for="select-all-items">select all</label>
      </div>
        
      <input class="form-control" type="text" (keyup)="onSerach($event)" placeholder="search...">
      
      <div *ngFor="let item of dropdownList; index as i" class="form-check">
        <input 
          class="form-check-input"
          id="item-checkbox-{{i}}" 
          type="checkbox" 
          value="{{item}}" 
          [checked]="selectedItems.indexOf(item) > -1"
          (click)="onItemSelect($event)"
        >
        <label class="form-check-label" for="item-checkbox-{{i}}">{{item}}</label>
      </div>
    </div>
  </div>
</div>
