.category-card-img-container {
  position: relative;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  border: 2px solid black;
  overflow: hidden;
 }

 .category-card-admin-controls {
   position: relative;
   text-align: center;
 }