<div appZoom class="element-link">
  <a class="d-block" routerLink="/products" [queryParams]="{categories: [category.name]}">
    <div class="category-image">
      <app-img-with-spinner src="{{category.image.url}}" spinnerWidth="30px" spinnerHeight="30px" ></app-img-with-spinner>
    </div>
    <p class="d-flex justify-content-center"> {{category.name | titlecase}}</p>
  </a>
  <div *ngIf='isAdmin' class="d-flex justify-content-between">
    <a routerLink='/admin/categories/edit/{{category.id}}' class="btn btn-warning btn-sm col-5">Edit</a>
    <button type="button" class="btn btn-danger btn-sm col-6" (click)='deleteCategory(category.id)'>Delete</button>
  </div>
</div>